              IPy
             lxml
             zeep
            regex 
            numpy
           pandas
           psutil
	         pyyaml
         openpyxl
         jsonpath
         easysnmp
        netifaces
     pysqlcipher3
           uvloop
          aiohttp  
           gevent
 geventhttpclient
           nuitka
           pylint
          pipreqs
          pyarmor
         snakeviz
       matplotlib
      pyinstaller
     profilehooks
     pycryptodome
     cryptography==38.0.4
  memory_profiler     
      python_nmap==0.7.1
        qqwry-py3 
          aionmap==0.0.2
           shodan
       